/********************************************************************/
/*        Additions from TypePlate:
 * URL ............ http://typeplate.com
 * VERSION ........ 1.1.1
 * Github ......... https://github.com/typeplate/typeplate.github.io
 * AUTHORS ........ Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
 * LICENSE ........ Creative Commmons Attribution 3.0
 * LICENSE URL .... http://creativecommons.org/licenses/by/3.0
/********************************************************************/

/**
 *
 * =======================================================================
 * Drop Capitals:
 * Extend this object into your markup.

	 <p class="drop-cap">What a wonderful day it is out there wouldn't you'd say?</p>

	* =======================================================================
 */

.drop-cap:first-letter {
	float: left;
	margin: auto .25em auto auto;
	padding: inherit;
	font-size: 4em;
	font-family: inherit;
	line-height: 1;
	text-indent: 0;
	background: transparent;
	color: inherit;
}

p + .drop-cap {
	text-indent: 0;
	margin-top: 0;
}

/**
 *
 * =======================================================================
	 Hyphens
 * =======================================================================
 */

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
	/* Accepted values: [ none | manual | auto ] */ /* http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation */
	-webkit-hyphens: none; /* Safari 5.1 thru 6, iOS 4.2 thru 6 */
	-moz-hyphens: none; /* Firefox 16 thru 20 */
	-ms-hyphens: none; /* IE10 */
	-o-hyphens: none; /* PRESTO...haha LOL */
	hyphens: none;	 /* W3C standard */
}

/**
 *
 * =======================================================================
	 Pull Quotes
 * =======================================================================
 */

/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */

.pull-quote {
	position: relative;
	padding: 1em;
}
.pull-quote:before,
.pull-quote:after {
	height: 1em;
	opacity: 0.15;
	position: absolute;
	font-size: 4em;
	color: #dc976e;
}
.pull-quote:before {
	content: '“';
	top: 0;
	left: 0;
}
.pull-quote:after {
	content: '”';
	bottom: 0;
	right: 0;
}

/**
 *
 * =======================================================================
	 Unicode Ampersand
 * =======================================================================
 */

@font-face {
	font-family: "Ampersand";
	src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
	unicode-range: U+0026;
}

@font-face {
	font-family: "Ampersand";
	src: local("Georgia");
	unicode-range: U+270C;
}
