<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content={{ page.description }}>



        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

	<!-- Typeplate CSS - modified -->
	<link rel="stylesheet" href="/css/kp-typeplate.css">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

	<!-- RSS Feed -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.base_url }}/feed.xml" />


    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra_first" href="/">home</a>
	    <a class="extra" href="/work">work</a>
            <a class="extra" href="/bio">bio</a>
           <a class="extra" href="/contact">contact</a>
          </div>
          {{ content }}
          <div class="footer">
            <div class="contact">
              <p>
                Kevin Purdy<br />
              </p>
            </div>
            <div class="contact">
              <p>
		<a href="https://twitter.com/kevinpurdy">@kevinpurdy</a><br/>
                <a href="https://github.com/kevinpurdy">github.com/kevinpurdy</a><br/>
              </p>
            </div>
          </div>
        </div>
        <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58e5217d0a5cbc63"></script> 
    </body>
</html>
